element.style {
    font-size: 3rem;
    padding:1px;   
}
nav {
    background-color: var(--primary);
    text-align: center;
    top: 0;
    left:0px;
    width: 100%;
    padding: 2rem;
    position:absolute;
}
  footer p {
    max-width: var(--width-break);
    margin: auto;
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 10rem;
    font-size: large;
    font-family: inherit;
}
* {
    box-sizing: border-box;
}
head {
    bottom: 0;
    left:0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}
title {
    font-size: 10rem;
}
div {
    display: block;
}
link {
    display: none;
}
footer p {
    max-width: var(--width-break);
    margin: auto;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary);
    text-align: center;
}


body {
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
}
body {
    display: block;
    margin: 8px;
}
html {
    display: block;
}
button {
    background-color: var(--primary);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}
#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}
main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

:root {
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}